<div class="side_head">
  <div class="user_name"><a href="#">aaa</a></div>
  <div class="make_chat"><a href="#">チャットを作成する</a></div>
</div>

<div class="room">
  <div class="chat_room"><a href="#">aaa</a></div>
  <div class="chat_room"><a href="#">bbb</a></div>
</div>